shamefully-hoist=true
strict-peer-dependencies=false
npmScopes:
  fortawesome:
    npmAlwaysAuth: true
    npmRegistryServer: "https://npm.fontawesome.com/"
    npmAuthToken: "${20FCC725-C7FF-4BBF-8DE8-632C89A16C87}"