@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Bungee-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Bungee-Regular.ttf') format('truetype');
}


* {
  background-color: #000;
  font-family: 'Bungee', sans-serif;
}

.CommingSoon {
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
  color : #ac0d0d;
  animation: blink 2s ease-in-out infinite;
}

.subHeading {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  color : #515151
}

@keyframes blink {
  0% {
    opacity: 0;

  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
